body {
    font-family: Nunito;
    font-size: 15px;
    color: black;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #dd6e8d;
    color: black;
}

a:active {
    background-color: #dd6e8d;
    color: white;
}

#wrapper {
    background-color: #dd6e8d;
    display: inline-block;
    border-radius: 500px;
    margin: 10px;   
    cursor: pointer;
    padding: 20px;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    position: relative;
    border-style: none;
    text-align: center;
}

.line {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color:#fff;
    border-radius: 8px;
    margin-bottom: 70px;
    margin-top: 5px;
    margin: auto;
}

.top {
    top: 18%;
    transition: all 0.3 linear;
}

.middle {
    top: 48%;
    transition: all 0.3 linear;
}

.bottom {
    top: 78%;
}

#wrapper.icon.top {
    transform: rotate(45deg);
    background-color: pink;
    margin-top: 5px;
    position: absolute;
    width: 35px;
    left: 7px;
    top: 18px;
}

#wrapper.icon.middle {
    position: absolute;
    top: 18px;
    left: 7px;
    width: 35px;
    height: 5px;
    transform: rotate(135deg);
    background-color: pink;
    margin-top: 5px;
}

#wrapper.icon.bottom {
    transform: scale(0);
}

img {
    width: 30px;
    height: 30px;
    border-radius: 15px;

}

.name {
    font-family: 'Tangerine';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    margin: auto;
    background-color: black;
    margin-top: 2px;
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
    float: right;
    color: #dd6e8d;
    padding: 8px;
    
}

nav {
    text-align: center;
    display: none;
    background-color: white;
    width: 40%;
}

nav.move {
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    display: block;
    background-color: black;
    color: pink;
    height: 90px;
    padding: 5px;
    margin-left: -10px;   
}

.tittle span {
    display: block;
    font-family: 'oswald', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #dd6e8d;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    margin-top: 200px;
}

.tittle h1 {
    font-family: 'oswald', sans-serif;
    font-size: 35px;
    line-height: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
}

h1 {
    color: #000;
    margin-bottom: 15px;
    margin-top: 0;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    width: 70px;
    border-top: 2px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #dd6e8d;
    margin-left: 2px
}
 .box {
     padding: 20px;
 }
